<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <form action="/request_counter">
        <input type="submit" value="Get request"/>
    </form>
    <form action="/request_counter" method="POST">
        <input type="submit" value="Post request"/>
    </form>
    <form action="/statistics">
        <input type="submit" value="Statistics"/>
    </form>
</body>
</html>